<head>
  <!-- Font & Icon -->
  <link rel="stylesheet" href="../../../font/inter/inter.min.css">
  <link href="/assets/plugins/material-design-icons-iconfont/material-design-icons.min.css" rel="stylesheet">
  <!-- Plugins -->
  <!-- CSS plugins goes here -->
  <!-- Main Style -->
  <link rel="stylesheet" href="/assets/plugins/simplebar/simplebar.min.css">
  <link rel="stylesheet" href="/assets/css/style.min.css" id="main-css">
  <link rel="stylesheet" href="/assets/css/sidebar-gray.min.css" id="theme-css"> <!-- options: blue,cyan,dark,gray,green,pink,purple,red,royal,ash,crimson,namn,frost -->
</head>

<body class="login-page">

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-7 col-xl-8 d-none d-lg-block">
        <img src="/assets/img/register.svg" alt="" class="img-fluid w-100">
      </div>
      <div class="col-lg-5 col-xl-4 d-flex justify-content-center align-items-start">
        <div class="card mb-3">
          <div class="card-body p-4">
            <h3><%= t('.sign_up') %></h3>
            <hr>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :name, {class: "font-size-sm", for: "InputFullname"} %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control bg-gray-200 border-gray-200", id: "InputFullname", placeholder: "フルネームで入力してください", autocomplete: "off" %>
              </div>
              <div class="form-group">
                <%= f.label :email, {class: "font-size-sm", for: "InputEmail"} %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control bg-gray-200 border-gray-200", id: "InputEmail", placeholder: "", autocomplete: "off" %>
              </div>
              <div class="form-group">
                <%= f.label :password, {class: "font-size-sm", for: "InputPassword"} %>
                <% if @minimum_password_length %>
                <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control bg-gray-200 border-gray-200", id: "InputPassword", placeholder: "6文字以上で入力してください" %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, {class: "font-size-sm", for: "InputPassword"}  %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-gray-200 border-gray-200", id: "InputPassword", placeholder: ""  %>
              </div>
                <!-- <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="agreeCheck">
                  <label class="custom-control-label" for="agreeCheck">I agree with </label>
                  <a href="javascript:void(0)"><u>terms and conditions</u></a>
                </div> -->
              <div class="actions">
                <%= f.submit t('.sign_up'), class: "btn btn-primary btn-block" %>
              </div>
              <!-- <div class="divider-text">or register with</div>
              <button type="button" class="btn btn-sm btn-outline-primary btn-block has-icon"><i class="fab fa-facebook"></i> Facebook</button>
              <button type="button" class="btn btn-sm btn-outline-info btn-block has-icon"><i class="fab fa-facebook"></i> Twitter</button> -->
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Plugins -->
  <!-- JS plugins goes here -->

</body>