<%= form_with(model: [surgical_operation, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :content, id: "comment_content_#{surgical_operation.id}", class: "form-control", placeholder: "テキストを入力" %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-dark"><%= t('view.update') %></button>
  </div>
<% end %>
