<div class="comment_field">
  <ul>
    <% comments.each do |comment| %>
      <% if comment.id.present? %>
        <li>
          <div class="comment-content" id="this_comment_<%= comment.id %>"></div>
          <%= surgical_operation.created_at.to_s(:datetime_jp) %>
          <%= comment.user.name %>
          <%= comment.content %>
          <% if current_user == comment.user %>
            <%= link_to edit_surgical_operation_comment_path(surgical_operation, comment), remote: true, class: "btn btn-link has-icon btn-xs bigger-130 text-success" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg><%= t('view.edit') %>
            <% end %>
            <%= link_to surgical_operation_comment_path(comment.surgical_operation_id, comment.id), method: :delete, remote: true, data: { confirm: t('view.confirm_destroy')}, class: "btn btn-link has-icon btn-xs bigger-130 text-danger" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg><%= t('view.delete') %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
