<div style="margin: 12px">
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to t('view.surgerylist'), surgical_operations_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('view.notification_list') %></li>
    </ol>
  </nav>
  <br>
  <div class="text-center">
    <br>
    <% if @notifications.exists? %>
      <div class="users-index">
        <%= render @notifications %>
        <%= paginate @notifications %>
      </div>
    <% else %>
      <p><%= t('view.no_notification') %></p>
    <% end %>
  </div>
</div>