<body class="login-page">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-7 col-xl-8 d-none d-lg-block">
        <img src="/assets/img/forgot-password.svg" alt="" class="img-fluid w-100">
      </div>
      <div class="col-lg-5 col-xl-4 d-flex justify-content-center align-items-center">
        <div class="card mb-3">
          <div class="card-body p-4">
            <h3><%= "パスワードを再設定する" %></h3>
            <p class="font-weight-light text-secondary">メールアドレスを入力してください</p>
            <hr>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-group">
                <span class="input-icon">
                  <i class="material-icons">mail_outline</i>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "resetEmailInput", placeholder: "", autocomplete: "off", required: "" %>
                </span>
              </div>
              <div class="actions">
                <%= f.submit t('.send_me_reset_password_instructions'), class: "btn btn-danger btn-block" %>
              </div>
            <% end %>
            <hr>
            <%= link_to "ログインに戻る", new_user_session_path, class: "btn btn-light has-icon btn-sm" %><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>