<%= form_with(model: @surgical_operation, local: true) do |form| %>
  <% if @surgical_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @surgical_operation.errors.count %><%= t('view.error') %></h2>
      <ul>
      <% @surgical_operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>  
      </ul>
    </div>
  <% end %>
  <div class="surgical_operation_status">
    <%= form.label :status %>
    <%= form.select :status, [ t('view.wip'), t('view.done') ], { include_blank: true } %>
  </div>
  <div class="surgical_operation_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="surgical_operation_content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="surgical_operation_image">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
    <%= form.submit %>
<% end %>