<%= form_with(model: @surgical_operation, local: true) do |form| %>
  <% if @surgical_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @surgical_operation.errors.count %><%= t('view.error') %></h2>
      <ul>
      <% @surgical_operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>  
      </ul>
    </div>
  <% end %>
  <div class="surgical_operation_form">
    <div class="surgical_operation_status">
      <%= form.label :status %>
      <%= form.select :status, [ t('view.wip'), t('view.done') ], { include_blank: true } %>
    </div>
    <div class="medical_department">
      <%= form.label :medical_department %>
      <%= form.select :medical_department, [ 
        "breast(乳腺外科)",
        "cardiovascular(心臓血管外科)",
        "digestive(消化器外科)",
        "neurosurgery(脳神経外科)",
        "obstetrics_gynecology(産婦人科)",
        "ophthalmology(眼科)",
        "orthopedics(整形外科)",
        "otolaryngology(耳鼻咽喉科)",
        "pediatric(小児科)",
        "plastic(形成外科)",
        "respiratory(呼吸器外科)",
        "stomatognathic(顎口腔外科)",
        "urology(泌尿器科)",
      ], { include_blank: true } %>
    </div>
    <div class="surgical_operation_title">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="surgical_operation_content">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
    <div class="surgical_operation_image">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
    <%= form.submit %>
  </div>
<% end %>