<div class="search">
  <%= form_with url: surgical_operations_path, method: :get, local: true do |form| %>
    <div class="title">
      <%= form.label :title, t('view.title') %>
      <%= form.text_field :title %>
    </div>
    <div class="medical_department">
      <%= form.label :medical_department, t('view.medical_department') %>
      <%= form.select :medical_department, [ 
        t('view.digestive'),
        t('view.respiratory'),
        t('view.breast'),
        t('view.pediatric'),
        t('view.neurosurgery'),
        t('view.cardiovascular'),
        t('view.orthopedics'),
        t('view.plastic'),
        t('view.urology'),
        t('view.ophthalmology'),
        t('view.otolaryngology'),
        t('view.stomatognathic'),
        t('view.obstetrics_gynecology'),
      ], { include_blank: true } %>
    </div>
    <div class="status">
      <%= form.label :status, t('view.status') %>
      <%= form.select :status, [ t('view.wip'), t('view.done') ], { include_blank: true } %>
    </div>
    <%= form.hidden_field :search, value: 'true' %>
    <%= form.submit t('view.search') %>
  <% end %>
</div>

<%= link_to t('view.sort_medical_department'), surgical_operations_path(sort_medical_department: "true"), class: 'btn btn-link' %>
<%= link_to t('view.sort_update_date'), surgical_operations_path(sort_updated_at: "true"), class: 'btn btn-link' %>
<% if current_user.try(:admin?) %>
  <h1><%= t('view.surgerylist_admin') %></h1>
<% else %>
  <h1><%= t('view.surgerylist') %></h1>
<% end %>
<br>
<div class="container">
  <table align="center">
    <tr>
      <th><%= t('view.status') %></th>
      <th><%= t('view.create_date') %></th>
      <th><%= t('view.update_date') %></th>
      <th><%= t('view.medical_department') %></th>
      <th><%= t('view.title') %></th>
    </tr>
    <% @surgical_operations.each do |surgical_operation| %>
      <tr>
        <td><%= surgical_operation.status %></td>
        <td><%= surgical_operation.created_at.to_s(:datetime_jp) %></td>
        <td><%= surgical_operation.updated_at.to_s(:datetime_jp) %></td>
        <td><%= surgical_operation.medical_department %></td>
        <td><%= surgical_operation.title %></td>
        <td><%= link_to t('view.content_confirmation'), surgical_operation_path(surgical_operation.id), class: 'btn btn-link' %></td>
      </tr>
    <% end %>
    <%= paginate @surgical_operations %>
  </table>
</div>
