<%= link_to t('view.new'), new_surgical_operation_path %>
<% if current_user.try(:admin?) %>
  <h1><%= t('view.surgerylist_admin') %></h1>
<% else %>
  <h1><%= t('view.surgerylist') %></h1>
<% end %>
<br>
<p><%= notice %></p>
<table align="center">
  <tr>
    <th><%= t('view.title') %></th>
  </tr>
  <% @surgical_operations.each do |surgical_operation| %>
    <tr>
      <td><%= surgical_operation.title %></td>
      <td><%= link_to t('view.content_confirmation'), surgical_operation_path(surgical_operation.id) %></td>
    </tr>
  <% end %>  
</table>
