<div class="container">
  <p><%= t('view.update_date') %> <%= @surgical_operation.updated_at.to_s(:datetime_jp) %></p>
  <%= link_to t('view.edit'), edit_surgical_operation_path(@surgical_operation.id) %>
  <br>
  <% if @stock.present? %>
    <%= link_to t('view.cancel_stock'), stock_path(id: @stock.id, surgical_operation_id: @surgical_operation.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to t('view.stock'), stocks_path(surgical_operation_id: @surgical_operation.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <br>
  <h1><%= @surgical_operation.medical_department %></h1>
  <h1><%= @surgical_operation.title %></h1>
  <br>
  <%= t('view.create_user') %>:<%= @surgical_operation.user.name %>
  <br>
  <h2><%= t('view.content') %></h2>
  <div class="content">
    <%= markdown(@surgical_operation.content).html_safe %>
  </div>
  <p><%= image_tag @surgical_operation.image.url if @surgical_operation.image? %></p>
  <p><%= @reading ? '既読' : '未読' %></p>
  <p><%= t('view.commentlist') %></p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, surgical_operation: @surgical_operation } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, surgical_operation: @surgical_operation } %>
</div>