<div style="margin: 12px">
  <ol class="breadcrumb border">
    <li class="breadcrumb-item active" aria-current="page"><%= link_to t('view.back_mypage'), users_show_path %></li>
  </ol>
  <br>
  <div class="text-center">
    <% unless current_user.try(:premium?) %> 
      <h3><%= t('view.purchase_confirm') %></h3>
      <p><%= t('view.explanation') %></p>
      <br>
      <h3><% t('view.card_information') %></h3>
      <br>
      <% if @default_card_information.blank? %>
        <br>
      <% else %>
        <% #以下カード情報を表示 %>
        <%= "**** **** **** " + @default_card_information.last4 %>
        <% exp_month = @default_card_information.exp_month.to_s %>
        <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
        <%= exp_month + " / " + exp_year %>
      <% end %>
      <br>
      <%= form_tag(action: :pay, method: :post) do %>
        <button data-disable-with="送信中..." class="btn btn-primary"><%= t('view.purchase') %></button>
      <% end %>
    <% else %>
      <h3><%= t('view.already_premium') %></h3>
      <h4><%= t('view.cancel?') %></h4>
      <%= form_tag(action: :cancel, method: :post) do %>
        <button data-disable-with="送信中..." class="btn btn-outline-primary"><%= t('view.cancel') %></button>
      <% end %>
    <% end %>
  </div>
</div>