<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "/assets/font/inter/inter.min.css", media: "all", id: "font-css" %>
    <%= stylesheet_link_tag "/assets/plugins/material-design-icons-iconfont/material-design-icons.min.css", media: "all" %>
    <%= stylesheet_link_tag "/assets/plugins/fontawesome-free/css/all.min.css", media: "all" %>
    <%= stylesheet_link_tag "/assets/plugins/simplebar/simplebar.min.css", media: "all" %>
    <%= stylesheet_link_tag "/assets/css/style.min.css", media: "all", id: "main-css"  %>
    <%= stylesheet_link_tag "/assets/css/sidebar-gray.min.css", media: "all", id: "theme-css"  %>
    <%= stylesheet_link_tag "/assets/plugins/summernote/summernote-bs4.css", media: "all" %>
    <%= stylesheet_link_tag "/assets/plugins/select2/css/select2.min.css", media: "all" %>
    <%= stylesheet_link_tag "/assets/plugins/flatpickr/flatpickr.min.css", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
