<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
  </head>

  <body>
    <header>
      <div class="header_logo">Opereminder</div>
      <% if current_page?(root_path) || current_page?(surgical_operations_path) %>
        <div class="search">
          <%= form_with url: surgical_operations_path, method: :get, local: true do |form| %>
            <i class="fa fa-search title">
              <%= form.label :title, t('view.title') %>
              <%= form.text_field :title %>
            </i>
            <i class="fa fa-search medical_department">
              <%= form.label :medical_department, t('view.medical_department') %>
              <%= form.select :medical_department, [
                "breast(乳腺外科)",
                "cardiovascular(心臓血管外科)",
                "digestive(消化器外科)",
                "neurosurgery(脳神経外科)",
                "obstetrics_gynecology(産婦人科)",
                "ophthalmology(眼科)",
                "orthopedics(整形外科)",
                "otolaryngology(耳鼻咽喉科)",
                "pediatric(小児科)",
                "plastic(形成外科)",
                "respiratory(呼吸器外科)",
                "stomatognathic(顎口腔外科)",
                "urology(泌尿器科)",
              ], { include_blank: true } %>
            </i>
            <i class="fa fa-search status">
              <%= form.label :status, t('view.status') %>
              <%= form.select :status, [ t('view.wip'), t('view.done') ], { include_blank: true } %>
            </i>
            <%= form.hidden_field :search, value: 'true' %>
            <%= form.submit t('view.search') %>
          <% end %>
        </div>
      <% end %>
      <div class="header_list">
        <% if user_signed_in? %>
          <%= link_to t('view.surgerylist'), surgical_operations_path %>
          <% if User.where(id: current_user.id, premium: true).exists? %>
            <%= link_to t('view.new'), new_surgical_operation_path %>
          <% end %>
          <%= link_to t('view.mypage'), users_show_path %>
          <%= link_to t('view.logout'), destroy_user_session_path, method: :delete %>
          <%= link_to(notifications_path) do %>
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
                <i class="fa fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em;"></i>
                <i class="fa fa-circle n-circle fa-stack-1x"></i>
              </span>
            <% else  %>
              <i class="fa fa-bell fa-lg" style="font-size: 1.5em;"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to t('view.signup'), new_user_registration_path %>
          <%= link_to t('view.login'), new_user_session_path %>
        <% end %>
      </div>
    </header>
    <main>
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </main>
    <%= yield %>
    <footer>
      <p>©️ 2020 Copyright kannanako.</p>
    </footer>
  </body>
</html>
