<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_list">
        <% if user_signed_in? %>
          <%= link_to t('view.surgerylist'), surgical_operations_path %>
          <%= link_to t('view.new'), new_surgical_operation_path %>
          <%= link_to t('view.profile'), users_show_path %>
          <%= link_to t('view.logout'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('view.signup'), new_user_registration_path %>
          <%= link_to t('view.login'), new_user_session_path %>
        <% end %>
      </div>       
    </header>
    <main>
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </main>
    <%= yield %>
    <footer>
      <p>©️ 2020 Copyright kannanako.</p>
    </footer>
  </body>
</html>
