<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
  </head>

  <body>
    <header>
      <div class="header_logo">Opereminder</div>
      <div class="header_list">
        <% if user_signed_in? %>
          <%= link_to t('view.surgerylist'), surgical_operations_path %>
          <% if User.where(id: current_user.id, premium: true).exists? %>
            <%= link_to t('view.new'), new_surgical_operation_path %>
          <% end %>
          <%= link_to t('view.mypage'), users_show_path %>
          <%= link_to t('view.logout'), destroy_user_session_path, method: :delete %>
          <%= link_to(notifications_path) do %>
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
                <i class="fa fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em;"></i>
                <i class="fa fa-circle n-circle fa-stack-1x"></i>
              </span>
            <% else  %>
              <i class="fa fa-bell fa-lg" style="font-size: 1.5em;"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to t('view.signup'), new_user_registration_path %>
          <%= link_to t('view.login'), new_user_session_path %>
        <% end %>
      </div>
    </header>
    <main>
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </main>
    <%= yield %>
    <footer>
      <p>©️ 2020 Copyright kannanako.</p>
    </footer>
  </body>
</html>
